# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these will be requested for review when someone opens a pull request.
* @grafarg/plugins-platform-backend
/data/ @grafarg/data-plane-wg